<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niezhiliang.permission.tree.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.niezhiliang.permission.tree.domain.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <resultMap id="RoleMenuMap" type="com.niezhiliang.permission.tree.entity.RoleMenuInfo">
    <id column="id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <collection property="menuList" javaType="java.util.ArrayList" column="id"
                select="getMenu">

    </collection>
  </resultMap>
  
  <resultMap id="ParentMenu" type="com.niezhiliang.permission.tree.entity.MenuTree">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="permissions" jdbcType="VARCHAR" property="permissions" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <collection property="menuList" javaType="java.util.ArrayList" column="{roleId=roleId,id=id}" select="getChildMenu">

    </collection>
  </resultMap>


  <select id="selectSubMenu" resultMap="RoleMenuMap">
    select * from role where id = #{roleId}
  </select>

  <select id="getMenu" resultMap="ParentMenu">
    select m.*,r.role_id 'roleId' from menu m left join role_menu r on m.id = r.menu_id
   where r.role_id = #{roleId} and m.parent_id = 0
  </select>

  <select id="getChildMenu" resultMap="ParentMenu">
    select m.*,r.role_id 'roleId' from menu m left join role_menu r on m.id = r.menu_id
   where r.role_id = #{roleId} and m.parent_id = #{id}
  </select>

</mapper>